<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="css/dragndrop.css"/>

  <title>jQuery UI Draggable Quiz Plugin</title>

  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
  <script type="text/javascript" src="jquery.ui.draggable.quiz.js"></script>
  
  <script type="text/javascript">
    $(function(){
      $('#quiz').draggableQuiz({
        answers: {
          '#choice-1' : [ '.question-1', '.question-5' ], 
          '#choice-2' : [ '.question-2' ], 
          '#choice-3' : [ '.question-3' ], 
          '#choice-4' : [ '.question-4' ]
        }
      });
    });
  </script>
  
</head>

<body>

<div id="quiz">
  
  <div class="questions">
    
    <img src="img/stage1.jpg" data="question-1" class="question question-1" alt="Question" height="100px" />
    <img src="img/stage2.jpg" data="question-2" class="question question-2" alt="Question" height="100px" />
    <img src="img/stage3.jpg" data="question-3" class="question question-3" alt="Question" height="100px" />
    <img src="img/stage4.jpg" data="question-4" class="question question-4" alt="Question" height="100px" />
    <img src="img/stage5.jpg" data="question-5" class="question question-5" alt="Question" height="100px" />
    
  </div> <!-- / .questions -->
  
  <div class="choices">

    <div id="choice-1" class="choice">
      <h2>Legal</h2>
    </div> <!-- / .choice -->
    <div id="choice-2" class="choice">
      <h2>Illegal</h2>
    </div> <!-- / .choice -->
    
    <div id="choice-3" class="choice">
      Other
    </div> <!-- / .choice -->

    
  </div> <!-- / .choices -->
  
</div> <!-- / #quiz -->

</body>
</html>
