#controller_container
{
    position: relative;
    width: 400px;
}

.controller
{
    position: relative;
    width: 100%;
}


/* universal button class */
.button
{
    position: absolute;
}

.button:hover
{
    cursor: pointer;
    filter: brightness(80%);
}


/* Stick */
.stick
{
    position: absolute;
    width: 12%;
    right: 298px;
    top: 142px;
}

.stick:active
{
    transform: translateX(10px);
}

/* cta - call to action */
.stick__cta
{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 313px;
    top: 157px;
    border: 3px solid white;
    opacity: 0.5;
    border-radius: 80px;
}

.stick__cta:hover
{
    width: 8px;
    height:  8px;
    border: 4px solid white;
    cursor: pointer;
    opacity: 0.1;
}

.stick__cta--left
{
    /*background-color: red;*/
    transform: translateX(-40px);
}

.stick__cta--right
{
    /*background-color: green;*/
    transform: translateX(40px);
}

.stick__cta--up
{
    /*background-color: yellow;*/
    transform: translateY(-40px);
}

.stick__cta--down
{
    /*background-color: magenta;*/
    transform: translateY(40px);
}



/* Button A */
.button_a
{
width: 12%;
right: 55px;
top: 140px;
}

/* Button B */
.button_b
{
width: 7%;
right: 111px;
top: 173px;
}

/* Button X */
.button_x
{
width: 7%;
right: 22px;
top: 134px;
}

/* Button Y */
.button_y
{
    width: 12%;
    right: 68px;
    top: 105px;
}


/* DISPLAY BUTTONS */
.display__field
{
    margin-top:50px;
    margin-right: 10px;
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px solid #eee;
    padding: 20px;
}


#controller_container,
#display_container,
#video_container
{
    display: inline-block;
}

#video_container
{
    margin-left: 50px;
}



