@charset "utf-8";
@font-face{
	font-family: smashFont;
	src: url(../fonts/smash.ttf);
}
/*
Font-Ideen:
Source Sans Pro
*/
/*body{
	background-color: #F7F7F7;
}*/

/*BODY*/
body{
	background-image: url(../images/wallpaper/5.jpg);
}

.container{
	border-radius: 20px;
	background-color: white;
	padding-bottom: 40px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 150px;
}

/*MAIN NAV*/
.mainNavigation{
	width: 100%;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	margin-bottom: 0px;
	border-radius: 20px 20px 0 0;
}


.smashFont{
		font-family: smashFont;
		font-weight: bold;
		font-size: 38px;
}

.sansProFont{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		font-size: 38px;
}

.charRoster{
	width: 100%;
}

.rosterP{
	padding-left: 15px;
	padding-right: 15px;
}

.clear { clear:both; }
* {border:none;}




/*BUTTONS*/

.btn
{
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn-primary
{
	background-image: none;
	background-color: black;
	border: 1px solid grey;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active
{
	background-color: white;
	color: #222;
	border: 1px solid grey;
	text-shadow: none;
}


.btn-default
{

}


/*
PANEL STYLES
 */

.panel-heading
{
	background-color: #5f6873 !important;
	background-image: none !important;
	color: white !important;
}

.panel-heading:hover,
.panel-heading:active,
.panel-heading:focus
{
	background-color: white;
	background-image: none;
	color: black;
}

.panel-title
{
	font-size: 16px;
	display: inline-block;
}

.panel-heading svg
{
	width: 14px;
	padding-top:3px;
	height: auto;
	fill: white;
	position: absolute;
	right: 30px;
	display:inline-block;
}








/*Cursor:Pointer*/
.draggable, .snapTarget	{ cursor:pointer;  }

/*MODULE*/

/*Drag Drop*/
.answers { width:29%; float:left; }
.answers > div { padding:0.5em; margin:0 0 1em 0.1em; min-height:50px; border:1px solid #006;  background-color:#CCC; float:left; width:100%; z-index:2; }

.solutions { width:70%; float:right; }
.solutions ul { width:100%; margin-left:1em;}
.solutions > ul > li { min-height:50px; min-width:35%;  margin:0 0 1em 0.1em;  }
.solutions > ul > li div { min-height:50px; min-width:35%; float:left; padding:0.5em;}	
.solutions > ul > li div:first-child { border:#666 dashed 1px; background-color:#DEF3E6; }
.solutions > ul > li div:last-child { border:#666 solid 1px;  background-color:#CEE3D0; }
.draggable { padding:8px; border:1px solid #006; max-width:280px; z-index:1; background-color:#AAA; min-height:50px; margin-bottom:8px; }



/*footer*/
.footer {
	margin-top: 30px !important;
	padding-left: 0px;
	padding-right: 0px;
}
/*Queries*/
@media(max-width:768px){
	
	}
	
@media(min-width:768px){
	
	}
@media(min-width:992px){

}
@media(min-width:1200px){

}


/*
	control image settings
*/
.img-inline
{
	display: inline;
}

/**Basic videos **/
.half-screen-video{
	width: 49%;
	height: 240px;
}

.full-screen-video {
	width:100%;
	height: 480px;
}

/** Characters **/
#stage-roster,#character-roster{
	background-image: url(../images/backgrounds/character_background.png);
	background-repeat: no-repeat;
	background-size: contain;
	cursor: url(../others/Mouse2.cur), pointer;
}
.chars_overview{
	width: 100%;
}

.stage-tile,.character-tile{
	position: relative;
	margin: 2px;
}

.stage-tile,.character-tile:hover{
	cursor: url(../others/Mouse3.cur), pointer;
}

.stage-name,.character-name{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	background-color: black;
	color: white;	
	text-align: center;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters  > .col, .no-gutters  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.modal-header .close{
	margin-top: -20px;
}

.modal-vid{
	width: 100%;
}

.special-video{
	width: 100%;
	height: 275px;
}

.locked{
	pointer-events: none;
}

.locked img{
	cursor: not-allowed;
	-webkit-filter: grayscale(100%) blur(5px); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%) blur(5px);
}




/** LEts smash **/
.banner_lets-smash
{
	width: 100%;
	border-radius: 17px;
	/*margin-bottom: 30px;*/
	margin-top: -40px;
}

.text_lets-smash
{
	/*width: 60%;*/
	color: #646465;
	padding-left: 0;
	padding-right: 0;
	border-radius: 20px;
	position: relative;
	box-shadow: 10px 10px 5px #888888;
	border: 3px solid #646465;
}

.text_lets-smash h3
{
	padding: 10px 20px;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}

.text_lets-smash p
{
	padding: 10px 20px;
	font-size: 16px;
	margin-bottom: 10px
}

.content_lets-smash
{
	display: flex;
	align-items: center;
}

/** Navigation Styling **/
.navbarStylable {
	
	background: black;
	height: 75px;
	
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a {
	
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	position: relative;
	top: 50%;
	transform: translateY(20%);
	border-right: 1px solid #666;
	
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #000;
}

.dropdown-menu {
	
	background: #000;

}

.dropdown-menu > li > a {
	
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	
}

/** Sidebar Styling **/


.subNavigation > .list-group-item {
	
	background: black;
	color: white;
	border: 0;
	text-shadow: none;
	font-family: 'Source Sans Pro', sans-serif;
	
}

.subNavigation > .active {
	
	background: white;
	color: black;
	border: 0;
	
}


.sidebarItem {
	border: 1px solid #333333;
	text-shadow: none;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	background-color: #555;
	color: white;
	background-image: none;
	text-shadow: none;
}

.list-group-item.active:hover{
	background-color: white;
	color: black;
	background-image: none;
	text-shadow: none;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
	background-color: #555;
	background-image: none;
	color: white;
}

.dropdown-menu>.active>a:hover {
	background-color: white;
	color: black;
}





/* header styles */
.image-bg-fluid-height,
.image-bg-fixed-height {
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: contain;
	-o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('../images//2.png') no-repeat center center scroll;
	padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('../images/Photoshop/fortschritt0.png') no-repeat center center scroll;
	background-size: 100% auto, cover;
	height:250px;
	margin-top: 50px;
	margin-bottom:10px
}

.img-center {
	margin: 0 auto;
}

#quiz-modal .modal-dialog{
	width: 60%;
}

/* QUIZZES
 */

.modal-header {
	background-color: #5f6873;
	color: white;
	margin-bottom: 10px;
	border-radius: 5px 5px 0 0;
}

.close
{
	color: white;
}

input[type=radio],
input[type=checkbox]
{
	margin-right: 15px;
}

#quiz-modal-title
{
	font-size: 24px;
	line-height:24px;
}


#quiz-container {
	padding: 0;
	min-height: 500px;
}


#question-container
{
	font-size: 20px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

#options-container
{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	text-align: center;
	/*display: flex;*/
}

#options-container input[type="radio"],
#options-container input[type="checkbox"]
{
	display: none;
}

#options-container label:hover
{
	cursor: pointer;
	color: lightslategrey;
}

#options-container .radioImage
{
	width: 250px;
	height: 180px;
	border-radius: 10px;
	margin-right: 20px;
	margin-top: 20px;
	/*flex: 1;*/
}

#options-container .radioImage:hover
{
	border: 5px solid lightgrey;
}

input[type="radio"]:checked+.radioImage
{
	border: 5px solid #081527;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label
{
	color: orange;
}

#button-container
{
	height: 40px;
	position: absolute;
	width: 100%;
	bottom: -20px;
}

#next-question
{
	width: 100%;
	background-color: #081527;
	background-image: none;
	border: 0;
	text-align: right;
	padding-right: 20px;
	height: 30px;
	border-radius: 0 0 4px 4px;
	height: 40px;
	font-size: 16px;
}

#next-question:hover
{
	cursor: pointer;
	color: yellow;
}

#complete-quiz
{
	width: 100%;
	height: 40px;
}

#alert-div
{
	font-size: 16px;
	position: absolute;
	width: 98%;
	bottom: 0;
	margin-bottom: 28px;
	margin-left: 1%;
}

.alert-success{
	position: absolute;
	bottom: 20px;
	width: 98%;
	margin-left: 1%;
}

#trophy{
	width: auto;
}




/* CONTROLLER */


#controller_container,
#input_container,
#video_container
{
	/* display: block; */
}

#video_container
{
	width: 50%;
	display: inline-block;
}

#video_container iframe{
	width: 450px;
	height: 275px;
}

#controller_options{
	width: 50%;
	display: inline-block;
}

#controller_container
{
	position: relative;
	width: 400px;
	height: 0;
	margin: 0 auto;
	z-index: 10;
}

#controller_container img
{
	border-radius: 0;
	margin-right: 0;
}

#controller_container img:hover
{
	border: 0;
}

.controller
{
	position: relative;
	width: 100%;
	margin-top: 41px;
}


/* universal button class */
.button
{
	position: absolute;
}

.button:hover
{
	cursor: pointer;
	filter: brightness(80%);
}


/* Stick */
.stick
{
	position: absolute;
	width: 48px;
	right: 297px;
	top: 183px;
}

.stick:active
{
	transform: translateX(10px);
}

/* cta - call to action */
.stick__cta
{
	position: absolute;
	width: 10px;
	height: 10px;
	right: 313px;
	top: 198px;
	border: 3px solid white;
	opacity: 0.5;
	border-radius: 80px;
}

.stick__cta:hover
{
	width: 8px;
	height:  8px;
	border: 4px solid white;
	cursor: pointer;
	opacity: 0.1;
}

.stick__cta--left
{
	/*background-color: red;*/
	transform: translateX(-40px);
}

.stick__cta--right
{
	/*background-color: green;*/
	transform: translateX(40px);
}

.stick__cta--up
{
	/*background-color: yellow;*/
	transform: translateY(-40px);
}

.stick__cta--down
{
	/*background-color: magenta;*/
	transform: translateY(40px);
}



/* Button A */
.button_a
{
	width: 49px;
	right: 55px;
	top: 181px;
}

/* Button B */
.button_b
{
	width: 28px;
	right: 111px;
	top: 214px;
}

/* Button X */
.button_x
{
	width: 31px;
	right: 20px;
	top: 174px;
}

/* Button Y */
.button_y
{
	width: 47px;
	right: 68px;
	top: 146px;
}

/* Button L */
.button_l
{
	width: 76px;
	right: 298px;
	top: 90px;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
	transform: rotate(-8deg);
}

/* Button R */
.button_r
{
	width: 76px;
	right: 24px;
	top: 90px;
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Chrome, Safari, Opera */
	transform: rotate(11deg);
}

/* DISPLAY BUTTONS */
.display__field
{
	margin: 50px 10px 10px 0;
	display: inline-block;
	width: 90px;
	height: 90px;
	background-color: white;
	border: 2px solid #eee;
	padding: 20px;
}

.left_key{
	background-image: url(../images/controller/left.png);
}

.right_key{
	background-image: url(../images/controller/right.png);
}

.up_key{
	background-image: url(../images/controller/up.png);
}

.down_key{
	background-image: url(../images/controller/down.png);
}

.a_key{
	background-image: url(../images/controller/a.png);
}

.b_key{
	background-image: url(../images/controller/b.png);
}

.x_key{
	background-image: url(../images/controller/x.png);
}

.y_key{
	background-image: url(../images/controller/y.png);
}

.l_key{
	background-image: url(../images/controller/l.png);
}

.r_key{
	background-image: url(../images/controller/r.png);
}

.left_key, .right_key, .up_key, .down_key, .a_key, .b_key, .x_key, .y_key, .l_key, .r_key{
	background-size:     contain;                
    background-repeat:   no-repeat;
    background-position: center center;  
}

#controller_options_ul{
	list-style: url;
}